! special
*.foreground:   #f8f7f1
*.background:   #1c2124
*.cursorColor:  #f8f7f1

! black
*.color0:       #2d3539
*.color8:       #3f4a50

! red
*.color1:       #c7525d
*.color9:       #ce7881

! green
*.color2:       #81b866
*.color10:      #9bc685

! yellow
*.color3:       #e3b064
*.color11:      #eac48a

! blue
*.color4:       #74aabe
*.color12:      #93bdcd

! magenta
*.color5:       #b84c75
*.color13:      #c37492

! cyan
*.color6:       #78baae
*.color14:      #96cac0

! white
*.color7:       #7a8185
*.color15:      #caced3
