! special
*.foreground:   #e3e3dd
*.background:   #1a161d
*.cursorColor:  #e3e3dd

! black
*.color0:       #29242e
*.color8:       #403847

! red
*.color1:       #c7525d
*.color9:       #ce7881

! green
*.color2:       #82ab8d
*.color10:      #a0c0a5

! yellow
*.color3:       #e4ad6c
*.color11:      #e4bb88

! blue
*.color4:       #8d8dd8
*.color12:      #adade0

! magenta
*.color5:       #b84c75
*.color13:      #c37492

! cyan
*.color6:       #5c698a
*.color14:      #7d869b

! white
*.color7:       #7b767e
*.color15:      #d1d1c7
