! special
*.foreground:   #f5f5f7
*.background:   #10151e
*.cursorColor:  #f5f5f7

! black
*.color0:       #1e2839
*.color8:       #2c3b54

! red
*.color1:       #c7525d
*.color9:       #ce7881

! green
*.color2:       #82ab8d
*.color10:      #a0c0a5

! yellow
*.color3:       #e4ad6c
*.color11:      #e4bb88

! blue
*.color4:       #8da6d8
*.color12:      #adbee0

! magenta
*.color5:       #b84c75
*.color13:      #c37492

! cyan
*.color6:       #6085a9
*.color14:      #859cb2

! white
*.color7:       #6b7a94
*.color15:      #d1d1d6
