! special
*.foreground:   #f8f7f1
*.background:   #181f28
*.cursorColor:  #f8f7f1

! black
*.color0:       #263140
*.color8:       #35455a

! red
*.color1:       #c7525d
*.color9:       #ce7881

! green
*.color2:       #74be76
*.color10:      #93cd95

! yellow
*.color3:       #e8b569
*.color11:      #eec890

! blue
*.color4:       #729bd6
*.color12:      #94b4e0

! magenta
*.color5:       #b84c75
*.color13:      #c37492

! cyan
*.color6:       #74abbe
*.color14:      #93becd

! white
*.color7:       #707e8f
*.color15:      #caced3

