! special
*.foreground:   #f9f7f1
*.background:   #1d2023
*.cursorColor:  #f9f7f1

! black
*.color0:       #2f3439
*.color8:       #41464b

! red
*.color1:       #c7525d
*.color9:       #ce7881

! green
*.color2:       #6dc06e
*.color10:      #8dce8e

! yellow
*.color3:       #eeb662
*.color11:      #f3ca8c

! blue
*.color4:       #5c99d6
*.color12:      #81b0df

! magenta
*.color5:       #b84c75
*.color13:      #c37492

! cyan
*.color6:       #70b4c2
*.color14:      #90c5d0

! white
*.color7:       #7a8085
*.color15:      #d6d2c7

