! special
*.foreground:   #f5f5f7
*.background:   #1b182b
*.cursorColor:  #f5f5f7

! black
*.color0:       #2b2645
*.color8:       #3b355f

! red
*.color1:       #c7526d
*.color9:       #ce788c

! green
*.color2:       #74be89
*.color10:      #93cda4

! yellow
*.color3:       #e4ad6c
*.color11:      #e4bb88

! blue
*.color4:       #7293d5
*.color12:      #95aedf

! magenta
*.color5:       #b84c94
*.color13:      #c56da8

! cyan
*.color6:       #5591af
*.color14:      #74a5be

! white
*.color7:       #716b94
*.color15:      #d1d1d6


