! special
*.foreground:   #e2e3dd
*.background:   #120f15
*.cursorColor:  #e2e3dd

! black
*.color0:       #2c2a2e
*.color8:       #605F60

! red
*.color1:       #ba4f40
*.color9:       #c47467

! green
*.color2:       #8aa090
*.color10:      #a0b1a3

! yellow
*.color3:       #e4ad6c
*.color11:      #e4bb88

! blue
*.color4:       #968acf
*.color12:      #a9a0d3

! magenta
*.color5:       #b44766
*.color13:      #c06e84

! cyan
*.color6:       #545d73
*.color14:      #787f8e

! white
*.color7:       #7a7979
*.color15:      #e2e3dd
